################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/.vs
/api/bin/Debug/net10.0
/api/obj
/api/RiverTrash.csproj.user
/web/dist
/web/node_modules
/web/package-lock.json
/api/bin/Release/net10.0
/api/Properties/PublishProfiles
web/pnpm-lock.yaml
